@media only screen and (max-Width:560px){
    .navbar{
        max-width: 1380px;
        max-height: 150px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    } 
    .LoginBtn{
       font-size: 20px;
       margin-right: -200px;
    }
}  